<ion-header>
  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      My Information
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div style="height: 56px;"></div>
  <div class="personal-header-big">
    <ion-avatar>
      <img src="assets/imgs/man.png">
    </ion-avatar>


    <div class="personal-name">John Doe</div>
    <div class="personal-position">Human Resource Lead</div>
  </div>
  <div class="personal-menu">
    <ion-card><img class="logo" src="assets/imgs/information-icon.png" /><span><span class="first-letter">M</span>y
        <span class="first-letter">P</span>rofile</span></ion-card>
    <ion-card><img class="logo" src="assets/imgs/salary-icon.png" /><span><span
          class="first-letter">S</span>alary</span></ion-card>
    <ion-card><img class="logo" src="assets/imgs/attendance-icon.png" /><span><span class="first-letter">M</span>y <span
          class="first-letter">A</span>ttendance</span></ion-card>
  </div>
  
 
</ion-content>