.requests-menu ion-card{padding: 10px;background-color: #fff;font-size: 16px;margin: 6px;}
.requests-menu ion-card img{width: 36px;float: left;}
.requests-menu ion-card > span{display: block;padding-left: 44px;line-height: 18px;}