<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Choose Request Type</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div style="height: 56px;"></div>
  <div class="p-1 requests-menu">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card><img class="logo" src="assets/imgs/information-icon.png" />
            <span class="text-primary">Vacation</span>
            <span>Request</span>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card><img class="logo" src="assets/imgs/information-icon.png" />
            <span class="text-primary">Permission</span>
            <span>Request</span>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card><img class="logo" src="assets/imgs/information-icon.png" />
            <span class="text-primary">Mission</span>
            <span>Request</span>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card><img class="logo" src="assets/imgs/information-icon.png" />
            <span class="text-primary">Overtime</span>
            <span>Request</span>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card><img class="logo" src="assets/imgs/information-icon.png" />
            <span class="text-primary">Change Shift</span>
            <span>Request</span>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card><img class="logo" src="assets/imgs/information-icon.png" />
            <span class="text-primary">Change Day off
            </span>
            <span>Request</span>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card><img class="logo" src="assets/imgs/information-icon.png" />
            <span class="text-primary">Working in Day
              off</span>
            <span>Request</span>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card><img class="logo" src="assets/imgs/information-icon.png" />
            <span class="text-primary">Loan </span>
            <span>Request</span>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card><img class="logo" src="assets/imgs/information-icon.png" />
            <span class="text-primary">Penalty </span>
            <span>Request</span>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>


  </div>
</ion-content>