<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>910996857485-c0kgu8qb1hhsl4pn8lrp7cm6i5osftcj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.910996857485-c0kgu8qb1hhsl4pn8lrp7cm6i5osftcj</string>
	<key>API_KEY</key>
	<string>AIzaSyD8aRGkTMJBSKJPuKvi2ZwWaXfIhn3I_c8</string>
	<key>GCM_SENDER_ID</key>
	<string>910996857485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kian.hrms</string>
	<key>PROJECT_ID</key>
	<string>kian-hrms</string>
	<key>STORAGE_BUCKET</key>
	<string>kian-hrms.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910996857485:ios:89c6f178e49b38b7fd38c4</string>
	<key>DATABASE_URL</key>
	<string>https://kian-hrms.firebaseio.com</string>
</dict>
</plist>