<app-header [title]="title | translate" [backPage]="backPage" renderBackButton=true></app-header>
<ion-content>
    <div style="height: 56px;"></div>
    <div class="p-3">
    <form [formGroup]="requestForm" novalidate  (submit)="submit()">
      <ion-grid  fixed class="ion-no-padding">
        <ion-row>
          <ion-col size="12">
            <ion-list class="task-details-list">
              <ion-item class="border-0 h29">
                <ion-label class="font-weight-bold mb--2">{{ 'app.overtimeRequest.requestDate' | translate }}</ion-label>
              </ion-item>
              <ion-item class="border-0">
                <ion-input readonly [liIonic4Datepicker]="datePickerObj"  class="px-2 rounded bg-form border-1"
                   formControlName="OvertimeDate" mode="md" [disabled]="readonly"
                  [placeholder]="'app.overtimeRequest.requestDate' | translate"></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="12">
            <ion-list class="task-details-list">
              <ion-item class="border-0 h29">
                <ion-label class="font-weight-bold mb--2">{{ 'app.overtimeRequest.fromTime' | translate }}</ion-label>
              </ion-item>
              <ion-item class="border-0">
                <ion-input readonly [liIonicTimepicker]="timePickerObj"  class="px-2 rounded bg-form border-1"
                   formControlName="FromTime" mode="md" [disabled]="readonly"
                  [placeholder]="'app.overtimeRequest.fromTime' | translate"></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="12">
            <ion-list class="task-details-list">
              <ion-item class="border-0 h29">
                <ion-label class="font-weight-bold mb--2">{{ 'app.overtimeRequest.toTime' | translate }}</ion-label>
              </ion-item>
              <ion-item class="border-0">
                <ion-input readonly [liIonicTimepicker]="timePickerObj"  class="px-2 rounded bg-form border-1"
                   formControlName="ToTime" mode="md" [disabled]="readonly"
                  [placeholder]="'app.overtimeRequest.toTime' | translate"></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                <ion-checkbox class="m-0 mr-3" color="dark" formControlName="ExtendNextDay" [checked]="request.ExtendNextDay" [disabled]="readonly" slot="start"></ion-checkbox>
                <ion-label class="font-weight-bold h28">{{ 'app.overtimeRequest.extendNextDay' | translate }}</ion-label>
              </ion-item>
          </ion-col>           
          <ion-col size="12">
            <ion-list class="task-details-list">
              <ion-item class="border-0 h29">
                <ion-label><span class="font-weight-bold mb--2">{{ 'app.overtimeRequest.remarks' | translate }}</span></ion-label>
              </ion-item>
              <ion-item class="border-0">
                <ion-textarea formControlName="Remarks" class="px-2 rounded bg-form border-1" [disabled]="readonly">
                </ion-textarea>
              </ion-item>
            </ion-list>
          </ion-col>          
          <ion-col size="12">
            <button  class="btn-brand" type="submit" *ngIf="renderSaveButton" [disabled]="requestForm.invalid">{{ 'app.common.save' | translate }}</button>
            <button  class="btn-danger"  type="button" (click)="navigateToSearch(false)" *ngIf="renderCloseButton">{{ 'app.common.close' | translate }}</button>
          </ion-col>
          <ion-col size="12" *ngIf="renderTaskActions">
              <app-task-actions [renderApproveButton]="renderApproveAndRejectButtons()" [renderRejectButton]="renderApproveAndRejectButtons()" [workflowInstanceId]="request.WorkflowInstanceId"
                [renderOkButton]="renderOkButton()" [renderComments]="request.AllowedComments" [commentsRequired]="request.CommentsMandatory">
              </app-task-actions>
        </ion-col>
        </ion-row>
      </ion-grid>  
    </form>
    </div>
  </ion-content>