<ion-header class="absolute header-background">
    <ion-toolbar>
        <ion-buttons slot="start"  *ngIf="renderMenuButton">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-buttons slot="start" (click)="goToBack()" *ngIf="renderBackButton">
          <img [src]="languageService.currentLanguageIsEnglish() ? 'assets/imgs/back.png' : 'assets/imgs/forward.png'" class="icon-in-toolbar"/>
      </ion-buttons>
      <ion-title>
        {{title}}
      </ion-title>
      <ion-buttons slot="end" (click)="goToHome()" *ngIf="renderHomeButton">
        <img src="assets/imgs/home-icon.png" class="icon-in-toolbar"/>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>