.icon-in-toolbar{width:24px; height: 24px; margin-right:10px; margin-left: 10px;}
.title-md {font-size: 18px;}
ion-header {
    background: #01579B !important;
  }

  header-background {
    background: #01579B !important;
  }




  