<ion-header class="absolute header-background">
  <ion-toolbar class="header-background-color">    
    <ion-buttons slot="start" routerLink='/endpoint'>
        <img src='assets/imgs/back.png' class="icon-in-toolbar"/>
    </ion-buttons>
    <ion-title>
      {{title | translate}}
    </ion-title>    
  </ion-toolbar>
</ion-header>
<ion-content>
    <div style="height: 56px;"></div>
    <div class="p-1 pb-5">     
     <p><b> Log into HRMS on the Web<br/></b>
     Go to Profile Menu > My Account > Organization ID.</p>     
     <br/>      
      <p><b>Ask a Coworker<br/></b>
      The can get the ID for you in their HRMS mobile app or web login</p>      
      <br/>
      <p><b>If You Still Need Help<br/></b>
      You might try entering your organization name, such as a full company name or abbreviation. for direct assistance, contact your organization's HR or IT department.</p>
    </div>
  </ion-content>