<ion-header>
    <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="secondary">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
          {{ 'app.vacationRequest.myRequestsTitle' | translate }}
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="vacation-requests">
    <ion-card>
        <ion-card-content *ngFor="let req of requests">
          <ion-item class="vacation-requests-item">            
            <ion-icon class="vacation-requests-icon" name="apps"></ion-icon>{{ 'app.vacationRequest.type' | translate }} : <span>{{req.VacationType.Name}}</span>
          </ion-item>
          <ion-item class="vacation-requests-item">
              <ion-icon class="vacation-requests-item" name="calendar"></ion-icon>{{ 'app.vacationRequest.fromDate' | translate }} : <span>{{req.FromDate}}</span>
          </ion-item>      
          <ion-item class="vacation-requests-item">
              <ion-icon class="vacation-requests-item" name="calendar"></ion-icon>{{ 'app.vacationRequest.toDate' | translate }} : <span>{{req.ToDate}}</span>
          </ion-item> 
          <ion-item class="vacation-requests-item">
              <ion-icon class="vacation-requests-item" name="clipboard"></ion-icon>{{ 'app.vacationRequest.vacationDays' | translate }} : <span>{{req.VacationDays}}</span>
          </ion-item>        
          <ion-item class="vacation-requests-item">
            <button ion-button  color="primary"  icon-start><ion-icon name="create"></ion-icon>Edit</button>
          </ion-item>
        </ion-card-content>
    </ion-card> 

</ion-content>
