<app-header [title]="'app.myVacationsBalance.title' | translate" backPage="/myinformations" renderBackButton=true></app-header>
<ion-content>
  <div style="height: 56px;"></div>
  <div class="p-1">

    <ion-card class="p-3 m-3 text-dark " *ngFor="let balance of myVacationsBalance">   
        <ion-card-header>
            <ion-card-title ngClass="text-align-c">{{balance.VacationTypeName}}</ion-card-title>
          </ion-card-header>
          <div class="border-top-dotted pt-2">       
          <ion-card-content ngClass="text-align-c balance-c">
              {{balance.NoOfDays - balance.TakenDays | number}}
          </ion-card-content> 
        </div>   
    </ion-card>
  </div>
</ion-content>