.login-bg{/*min-height: 100vh; Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#588ad6+0,4278cb+100
background: rgb(88,138,214);background: -moz-linear-gradient(top,  rgba(88,138,214,1) 0%, rgba(66,120,203,1) 100%);background: -webkit-linear-gradient(top,  rgba(88,138,214,1) 0%,rgba(66,120,203,1) 100%);
background: linear-gradient(to bottom,  rgba(88,138,214,1) 0%,rgba(66,120,203,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#588ad6', endColorstr='#4278cb',GradientType=0 ) */}

.login-bg{min-height: 100vh;background: #4278cb url('../../assets/imgs/bottom-bg.png') no-repeat bottom center;background-size: 800px auto;}
.login-bg::after{content:"";position:absolute;z-index:1;background: url(../../assets/imgs/top-bar.png) no-repeat top -100px center;top: 0;bottom: 0;left: 0;right: 0;background-size: 600px auto;}
// .login-bg::before{content:"";position:absolute;z-index:1;background: url('../../assets/imgs/bottom-bar.png') no-repeat bottom center;top:0;bottom:0;left:0;right:0;background-size: auto 50%; }
.login-container {position: relative;padding:5vw;z-index: 2;}
.logoSection {position: relative;margin: 4px -8px 0px;text-align: center;-webkit-animation-duration: 1s;animation-duration: 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both;-webkit-animation-name: zoomIn;animation-name: zoomIn;display: block;
text-align: center;padding-top: 130px;} 
.logoSection img{display: block;width: 120px;margin: 5vw auto;}
.logindiv{margin-bottom: 30px;}

.powered-by {
    margin-bottom: 10px;
    font-size: 90%;
}
.sologon-1{color: #5fd8d1;font-size: 1.25rem;display: block;}
.sologon-2{color: #fff;display: block;font-size: .75rem}
/*iPhone X*/
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
        .logoSection{padding-top: 210px;margin: 4px -8px 20px;}
        .login-bg::after{background-size: 800px auto;}
        .sologon-1{font-size: 1.5rem;}
        .sologon-2{font-size: .875rem;}
    }
/*iPhone 8*/
@media only screen 
    and (device-width : 375px) 
    and (device-height : 667px) 
    and (-webkit-device-pixel-ratio : 2) { }
/*iPhone 8 Plus*/
@media only screen 
    and (device-width : 414px) 
    and (device-height : 736px) 
    and (-webkit-device-pixel-ratio : 3) { }

ion-content,app-login{background-color: rgba(66,120,203,1)!important}
ion-list{background-color: transparent!important}
ion-item{padding: 0 16px;margin: 16px 0 0 0;border-radius: 8px;background: #fff;}
ion-input{border:none}
.item-native{padding:0!important;margin:0!important;}
ion-input input{border:none!important;border:0px!important}
ion-checkbox{margin: 0!important} 
.item-inner{border:none!important;border:0px!important}
/*
.scroll-content {margin: 0 !important;background-image: url('../../assets/imgs/bg.jpg');height: auto !important;overflow:hidden !important;
background-size: cover;background-position: center;background-repeat: no-repeat;border-color: transparent;}
ion-item {padding-left: 10px !important;margin-bottom: 10px;background-color: transparent !important;font-size: 0.9em;}

.list-md {width: 100%;margin: 0 auto;padding: 10px;background: none;}
input, optgroup, select {margin: 0;font: inherit;color: inherit;}
.item-block{margin: 0 auto;width: 100%;padding: 0 !important;min-height: inherit;}
ion-label {color: #fff;width: 100%;margin: 7px 0 !important;text-align: left;font-size: 12px;}
.item-md.item-block .item-inner {border: none;padding: 0;}
.button-md {padding: 1em 4em;margin-top: 34px !important;}
.item-block{margin: 0 auto;width: 100%;padding: 0 !important;}
.item-md.item-block .item-inner {border: none;padding: 0;}
.inputform  ion-input ,.inputform   ion-select,.inputform  ion-datetime ,.inputform ion-textarea{margin-bottom: 0;border: 1px solid #fff;background: rgba(255, 255, 255, 0.15);padding: 0;color: #fff;-webkit-animation-duration: 1s;animation-duration: 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both;-webkit-animation-name: fadeIn;animation-name: fadeIn;font-size: 12px;}
.text-input-md{margin: 0;width: 100%;padding: 5px;}
.inputform   ion-select ,.inputform  ion-datetime ,.inputform ion-textarea {margin: 0;width: 100%;padding: 5px;max-width: inherit;color:#fff;}
.loginBtn {background: #60bd55;color: #fff;width: 100%;padding: 13px;font-size: 20px;margin: 0 auto;display: block;font-family: 'Segoe UI';
font-weight: 100;}  
.text-input-md {color: #fff;}
.logindiv{margin: 15px 0px 0 0 !important;}*/

ion-select {
    min-width: 100% !important;
    max-width: 100% !important;
}

.btn-brand {
    font-family: 'OpenSansBold';
    height: 45px;
    text-transform: uppercase;
    width: 100%;
    color: #fff;
    margin: 16px 0 0;
    display: block;
    border-radius: 8px!important;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#059afe+0,6be1cb+100 */
    background: rgb(5, 154, 254);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(5, 154, 254, 1) 0%, rgba(107, 225, 203, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(5, 154, 254, 1) 0%, rgba(107, 225, 203, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(5, 154, 254, 1) 0%, rgba(107, 225, 203, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#059afe', endColorstr='#6be1cb', GradientType=1);
    /* IE6-9 */
  }

  .ng-valid, .ng-valid.required, .ng-valid:not(form) {
    border-bottom: 0px solid #42A948 !important;
}

.ng-pristine:not(form) {
    border-bottom: 0px solid #ccc!important
}