<!-- ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header -->

<ion-content >
  <div class="login-bg">
    <div class="login-container">
      <div class="logoSection">
        <!-- <img class="logo" src="assets/imgs/logo.png" /> -->


        <ion-label class="sologon-1 text-bold">{{'app.login.appName' | translate}}</ion-label>
        <ion-label class="sologon-2">{{'app.login.desc' | translate}}</ion-label>

      </div>
      <form [formGroup]="authForm">
        <ion-list>
          <!-- <ion-label>{{ 'app.login.company' | translate }}</ion-label> -->
          <ion-item class="inputform">
            <!-- <ion-label>{{ 'app.login.selectCompany' | translate }}</ion-label> -->
            <ion-select class="w-60" [formControl]="authForm.controls['company']" [placeholder]="'app.login.selectCompany' | translate"
              [ngClass]="{'error-border':!authForm.controls['company'].valid}">
              <ion-select-option *ngFor="let company of companyList" value="{{company.Code}}">{{company.Name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <!-- <ion-label>{{ 'app.login.userName' | translate }}</ion-label> -->
          <ion-item class="inputform">
            <ion-input type="text" [placeholder]="'app.login.enterUserName' | translate"
              [formControl]="authForm.controls['username']"
              [ngClass]="{'error-border':!authForm.controls['username'].valid}"></ion-input>
          </ion-item>
          <div class="error-box"
            *ngIf="authForm.controls['username'].hasError('required') && authForm.controls['username'].touched">
            {{ 'app.login.userNameRequired' | translate }}</div>
          <!-- <ion-label>{{ 'app.login.password' | translate }}</ion-label> -->
          <ion-item class="inputform">
            <ion-input type="password" [placeholder]="'app.login.enterPassword' | translate"
              [formControl]="authForm.controls['password']"
              [ngClass]="{'error-border':!authForm.controls['username'].valid}"></ion-input>
          </ion-item>

          <div class="error-box"
            *ngIf="authForm.controls['password'].hasError('required') && authForm.controls['password'].touched">
            {{ 'app.login.passwordRequired' | translate }}</div>
          <!-- <ion-item>
            <ion-label>{{ 'app.login.rememberMe' | translate }}</ion-label>
            <ion-checkbox [formControl]="authForm.controls['keepMeLogin']"></ion-checkbox>
          </ion-item> -->

          <div class="logindiv">
            <button class="btn-brand" type="submit" [disabled]="!authForm.valid" (click)="login()">Login</button>
          </div>

        </ion-list>
        <!-- <ion-label class="d-block text-center"><a href="#" class="text-white">Forget Password ?</a></ion-label> -->
        <ion-label class="powered-by text-center"><a href="#" class="text-white">{{'app.login.poweredBy' | translate}} </a></ion-label>


      </form>
    </div>
  </div>


</ion-content>