<app-header [title]="title | translate" [backPage]="backPage"
  renderBackButton=true></app-header>
<ion-content>
  <div style="height: 56px;"></div>
  <div class="p-3">
    <form [formGroup]="requestForm" novalidate (submit)="submit()">
      <ion-grid fixed no-padding>
        <ion-row>
          <ion-col size="12">
            <ion-list>
              <ion-item class="border-0 h32">
                <ion-label class="font-weight-bold mb-0">{{ 'app.penaltyRequest.employee' | translate }}</ion-label>
              </ion-item>
              <ion-item class="border-0">
                <ion-select formControlName="EmployeeId" name="EmployeeId" [disabled]="readonly"
                  [selectedText]="request.Employee?.EmployeeName"
                  [placeholder]="'app.penaltyRequest.selectEmployee' | translate" class="px-2 rounded bg-form border-1">
                  <ion-select-option *ngFor="let e of employees" value="{{e.EmployeeID}}">{{e.EmployeeName}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="12">
            <ion-list>
              <ion-item class="border-0 h29">
                <ion-label class="font-weight-bold mb--2">{{ 'app.penaltyRequest.penaltyDate' | translate }}</ion-label>
              </ion-item>
              <ion-item class="border-0">
                <ion-input readonly [liIonic4Datepicker]="datePickerObj" class="px-2 rounded bg-form border-1" [disabled]="readonly"
                  formControlName="PenaltyDate" mode="md" [placeholder]="'app.penaltyRequest.penaltyDate' | translate">
                </ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="12">
            <ion-list>
              <ion-item class="border-0 h32">
                <ion-label class="font-weight-bold mb-0">{{ 'app.penaltyRequest.penaltyReason' | translate }}
                </ion-label>
              </ion-item>
              <ion-item class="border-0">
                <ion-select formControlName="PenaltyReason" name="PenaltyReason" [disabled]="readonly"
                  [selectedText]="request.PenaltyReason?.Name" (ionChange)="reasonChanged()"
                  [placeholder]="'app.penaltyRequest.selectPenaltyReason' | translate"
                  class="px-2 rounded bg-form border-1">
                  <ion-select-option *ngFor="let r of penaltyReasons" value="{{r.ID}}">{{r.Name}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="12">
            <ion-list>
              <ion-item class="border-0 h32">
                <ion-label class="font-weight-bold mb-0">{{ 'app.penaltyRequest.penaltyType' | translate }}</ion-label>
              </ion-item>
              <ion-item class="border-0">
                <ion-select formControlName="PenaltyTypeId" name="PenaltyTypeId" [disabled]="readonly"
                  [selectedText]="request.PenaltyTypeName"
                  [placeholder]="'app.penaltyRequest.penaltyType' | translate" class="px-2 rounded bg-form border-1">
                  <ion-select-option value="1">{{'app.penaltyRequest.valuePenalty' | translate }}</ion-select-option>
				          <ion-select-option value="2">{{'app.penaltyRequest.daysPenalty' | translate }}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="12">
            <ion-list>
              <ion-item class="border-0 h29">
                <ion-label><span class="font-weight-bold mb--2">{{ 'app.penaltyRequest.penaltyValue' | translate }}</span>
                </ion-label>
              </ion-item>
              <ion-item class="border-0">
                <ion-input formControlName="PenaltyValue" class="px-2 rounded bg-form border-1" [disabled]="readonly">
                </ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="12">
            <ion-list>
              <ion-item class="border-0 h29">
                <ion-label><span class="font-weight-bold mb--2">{{ 'app.penaltyRequest.penaltyCause' | translate }}</span>
                </ion-label>
              </ion-item>
              <ion-item class="border-0">
                <ion-textarea formControlName="PenaltyCause" class="px-2 rounded bg-form border-1" [disabled]="readonly">
                </ion-textarea>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="12">
            <button  class="btn-brand" type="submit" *ngIf="renderSaveButton" [disabled]="requestForm.invalid">{{ 'app.common.save' | translate }}</button>
            <button  class="btn-danger"  type="button" (click)="navigateToSearch(false)" *ngIf="renderCloseButton">{{ 'app.common.close' | translate }}</button>
          </ion-col>
          <ion-col size="12" *ngIf="renderTaskActions">
              <app-task-actions [renderApproveButton]="renderApproveAndRejectButtons()" [renderRejectButton]="renderApproveAndRejectButtons()" [workflowInstanceId]="request.WorkflowInstanceId"
                [renderOkButton]="renderOkButton()" [renderComments]="request.AllowedComments" [commentsRequired]="request.CommentsMandatory">
              </app-task-actions>
        </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>