<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Attendance Sheet
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div style="height: 56px;"></div>

  <div class="p-1">
    <ion-grid class="p-0">
      <ion-row class="border-bottom">
        <ion-col size="2">
          <span class="text-primary">Date</span>
        </ion-col>
        <ion-col size="4">
          <span class="text-primary">SignIn</span>
        </ion-col>
        <ion-col size="4">
          <span class="text-primary">SignOut</span>
        </ion-col>
        <ion-col size="2">
          <span class="text-primary">Lack</span>
        </ion-col>
      </ion-row>
      <ion-row class="border-bottom">
          <ion-col size="2">
            <span class="">1/7</span>
          </ion-col>
          <ion-col size="4">
            <span class=""><ion-icon name="time" class="text-green"></ion-icon>08:00 AM</span>
          </ion-col>
          <ion-col size="4">
            <span class=""><ion-icon name="time" class="text-green"></ion-icon>04:00 PM</span>
          </ion-col>
          <ion-col size="2">
            <span class="">-</span>
          </ion-col>
        </ion-row>
        <ion-row class="border-bottom">
          <ion-col size="2">
            <span class="">2/7</span>
          </ion-col>
          <ion-col size="4">
            <span class=""><ion-icon name="time" class="text-danger"></ion-icon><span class="text-danger">10:32 AM</span></span>
          </ion-col>
          <ion-col size="4">
            <span class=""><ion-icon name="time" class="text-green"></ion-icon>04:00 PM</span>
          </ion-col>
          <ion-col size="2">
            <span class=""><span class="text-danger">65min</span></span>
          </ion-col>
        </ion-row>
        <ion-row class="border-bottom">
          <ion-col size="2">
            <span class="">3/7</span>
          </ion-col>
          <ion-col size="4">
            <span class=""><ion-icon name="time" class="text-green"></ion-icon>08:00 AM</span>
          </ion-col>
          <ion-col size="4">
            <span class=""><ion-icon name="time" class="text-green"></ion-icon>04:00 PM</span>
          </ion-col>
          <ion-col size="2">
            <span class="">-</span>
          </ion-col>
        </ion-row>
        <ion-row class="border-bottom">
          <ion-col size="2">
            <span class="">4/7</span>
          </ion-col>
          <ion-col size="4">
            <span class=""><ion-icon name="time" class="text-green"></ion-icon>08:00 AM</span>
          </ion-col>
          <ion-col size="4">
            <span class=""><ion-icon name="time" class="text-green"></ion-icon>04:00 PM</span>
          </ion-col>
          <ion-col size="2">
            <span class="">-</span>
          </ion-col>
        </ion-row>
        
        <ion-row class="border-bottom">
          <ion-col size="2">
            <span class="">5/7</span>
          </ion-col>
          <ion-col size="4">
            <span class=""><ion-icon name="time" class="text-green"></ion-icon>08:00 AM</span>
          </ion-col>
          <ion-col size="4">
            <span class=""><ion-icon name="time" class="text-green"></ion-icon>04:00 PM</span>
          </ion-col>
          <ion-col size="2">
            <span class="">-</span>
          </ion-col>
        </ion-row>
        <ion-row class="border-bottom">
          <ion-col size="2">
            <span class="">6/7</span>
          </ion-col>
          
          <ion-col size="4">
            <span class=""><ion-icon name="time" class="text-green"></ion-icon>04:00 PM</span>
          </ion-col>
          <ion-col size="4">
            <span class=""><ion-icon name="time" class="text-danger"></ion-icon><span class="text-danger">10:32 AM</span></span>
          </ion-col>
          <ion-col size="2">
            <span class=""><span class="text-danger">65min</span></span>
          </ion-col>
        </ion-row>
        <ion-row class="border-bottom">
          <ion-col size="2">
            <span class="">7/7</span>
          </ion-col>
          <ion-col size="4">
            <span class=""><ion-icon name="time" class="text-green"></ion-icon>08:00 AM</span>
          </ion-col>
          <ion-col size="4">
            <span class=""><ion-icon name="time" class="text-green"></ion-icon>04:00 PM</span>
          </ion-col>
          <ion-col size="2">
            <span class="">-</span>
          </ion-col>
        </ion-row>
        <ion-row class="border-bottom">
          <ion-col size="2">
            <span class="">8/7</span>
          </ion-col>
          <ion-col size="4">
            <span class=""><ion-icon name="time" class="text-green"></ion-icon>08:00 AM</span>
          </ion-col>
          <ion-col size="4">
            <span class=""><ion-icon name="time" class="text-green"></ion-icon>04:00 PM</span>
          </ion-col>
          <ion-col size="2">
            <span class="">-</span>
          </ion-col>
        </ion-row><ion-row class="border-bottom">
            <ion-col size="2">
              <span class="">1/7</span>
            </ion-col>
            <ion-col size="4">
              <span class=""><ion-icon name="time" class="text-green"></ion-icon>08:00 AM</span>
            </ion-col>
            <ion-col size="4">
              <span class=""><ion-icon name="time" class="text-green"></ion-icon>04:00 PM</span>
            </ion-col>
            <ion-col size="2">
              <span class="">-</span>
            </ion-col>
          </ion-row>
          <ion-row class="border-bottom">
            <ion-col size="2">
              <span class="">2/7</span>
            </ion-col>
            <ion-col size="4">
              <span class=""><ion-icon name="time" class="text-danger"></ion-icon><span class="text-danger">10:32 AM</span></span>
            </ion-col>
            <ion-col size="4">
              <span class=""><ion-icon name="time" class="text-green"></ion-icon>04:00 PM</span>
            </ion-col>
            <ion-col size="2">
              <span class=""><span class="text-danger">65min</span></span>
            </ion-col>
          </ion-row>
          <ion-row class="border-bottom">
            <ion-col size="2">
              <span class="">3/7</span>
            </ion-col>
            <ion-col size="4">
              <span class=""><ion-icon name="time" class="text-green"></ion-icon>08:00 AM</span>
            </ion-col>
            <ion-col size="4">
              <span class=""><ion-icon name="time" class="text-green"></ion-icon>04:00 PM</span>
            </ion-col>
            <ion-col size="2">
              <span class="">-</span>
            </ion-col>
          </ion-row>
          <ion-row class="border-bottom">
            <ion-col size="2">
              <span class="">4/7</span>
            </ion-col>
            <ion-col size="4">
              <span class=""><ion-icon name="time" class="text-green"></ion-icon>08:00 AM</span>
            </ion-col>
            <ion-col size="4">
              <span class=""><ion-icon name="time" class="text-green"></ion-icon>04:00 PM</span>
            </ion-col>
            <ion-col size="2">
              <span class="">-</span>
            </ion-col>
          </ion-row>
          
          <ion-row class="border-bottom">
            <ion-col size="2">
              <span class="">5/7</span>
            </ion-col>
            <ion-col size="4">
              <span class=""><ion-icon name="time" class="text-green"></ion-icon>08:00 AM</span>
            </ion-col>
            <ion-col size="4">
              <span class=""><ion-icon name="time" class="text-green"></ion-icon>04:00 PM</span>
            </ion-col>
            <ion-col size="2">
              <span class="">-</span>
            </ion-col>
          </ion-row>
          <ion-row class="border-bottom">
            <ion-col size="2">
              <span class="">6/7</span>
            </ion-col>
            
            <ion-col size="4">
              <span class=""><ion-icon name="time" class="text-green"></ion-icon>04:00 PM</span>
            </ion-col>
            <ion-col size="4">
              <span class=""><ion-icon name="time" class="text-danger"></ion-icon><span class="text-danger">10:32 AM</span></span>
            </ion-col>
            <ion-col size="2">
              <span class=""><span class="text-danger">65min</span></span>
            </ion-col>
          </ion-row>
          <ion-row class="border-bottom">
            <ion-col size="2">
              <span class="">7/7</span>
            </ion-col>
            <ion-col size="4">
              <span class=""><ion-icon name="time" class="text-green"></ion-icon>08:00 AM</span>
            </ion-col>
            <ion-col size="4">
              <span class=""><ion-icon name="time" class="text-green"></ion-icon>04:00 PM</span>
            </ion-col>
            <ion-col size="2">
              <span class="">-</span>
            </ion-col>
          </ion-row>
          <ion-row class="border-bottom">
            <ion-col size="2">
              <span class="">8/7</span>
            </ion-col>
            <ion-col size="4">
              <span class=""><ion-icon name="time" class="text-green"></ion-icon>08:00 AM</span>
            </ion-col>
            <ion-col size="4">
              <span class=""><ion-icon name="time" class="text-green"></ion-icon>04:00 PM</span>
            </ion-col>
            <ion-col size="2">
              <span class="">-</span>
            </ion-col>
          </ion-row><ion-row class="border-bottom">
              <ion-col size="2">
                <span class="">1/7</span>
              </ion-col>
              <ion-col size="4">
                <span class=""><ion-icon name="time" class="text-green"></ion-icon>08:00 AM</span>
              </ion-col>
              <ion-col size="4">
                <span class=""><ion-icon name="time" class="text-green"></ion-icon>04:00 PM</span>
              </ion-col>
              <ion-col size="2">
                <span class="">-</span>
              </ion-col>
            </ion-row>
            <ion-row class="border-bottom">
              <ion-col size="2">
                <span class="">2/7</span>
              </ion-col>
              <ion-col size="4">
                <span class=""><ion-icon name="time" class="text-danger"></ion-icon><span class="text-danger">10:32 AM</span></span>
              </ion-col>
              <ion-col size="4">
                <span class=""><ion-icon name="time" class="text-green"></ion-icon>04:00 PM</span>
              </ion-col>
              <ion-col size="2">
                <span class=""><span class="text-danger">65min</span></span>
              </ion-col>
            </ion-row>
            <ion-row class="border-bottom">
              <ion-col size="2">
                <span class="">3/7</span>
              </ion-col>
              <ion-col size="4">
                <span class=""><ion-icon name="time" class="text-green"></ion-icon>08:00 AM</span>
              </ion-col>
              <ion-col size="4">
                <span class=""><ion-icon name="time" class="text-green"></ion-icon>04:00 PM</span>
              </ion-col>
              <ion-col size="2">
                <span class="">-</span>
              </ion-col>
            </ion-row>
            <ion-row class="border-bottom">
              <ion-col size="2">
                <span class="">4/7</span>
              </ion-col>
              <ion-col size="4">
                <span class=""><ion-icon name="time" class="text-green"></ion-icon>08:00 AM</span>
              </ion-col>
              <ion-col size="4">
                <span class=""><ion-icon name="time" class="text-green"></ion-icon>04:00 PM</span>
              </ion-col>
              <ion-col size="2">
                <span class="">-</span>
              </ion-col>
            </ion-row>
            
            <ion-row class="border-bottom">
              <ion-col size="2">
                <span class="">5/7</span>
              </ion-col>
              <ion-col size="4">
                <span class=""><ion-icon name="time" class="text-green"></ion-icon>08:00 AM</span>
              </ion-col>
              <ion-col size="4">
                <span class=""><ion-icon name="time" class="text-green"></ion-icon>04:00 PM</span>
              </ion-col>
              <ion-col size="2">
                <span class="">-</span>
              </ion-col>
            </ion-row>
            <ion-row class="border-bottom">
              <ion-col size="2">
                <span class="">6/7</span>
              </ion-col>
              
              <ion-col size="4">
                <span class=""><ion-icon name="time" class="text-green"></ion-icon>04:00 PM</span>
              </ion-col>
              <ion-col size="4">
                <span class=""><ion-icon name="time" class="text-danger"></ion-icon><span class="text-danger">10:32 AM</span></span>
              </ion-col>
              <ion-col size="2">
                <span class=""><span class="text-danger">65min</span></span>
              </ion-col>
            </ion-row>
            <ion-row class="border-bottom">
              <ion-col size="2">
                <span class="">7/7</span>
              </ion-col>
              <ion-col size="4">
                <span class=""><ion-icon name="time" class="text-green"></ion-icon>08:00 AM</span>
              </ion-col>
              <ion-col size="4">
                <span class=""><ion-icon name="time" class="text-green"></ion-icon>04:00 PM</span>
              </ion-col>
              <ion-col size="2">
                <span class="">-</span>
              </ion-col>
            </ion-row>
            <ion-row class="border-bottom">
              <ion-col size="2">
                <span class="">8/7</span>
              </ion-col>
              <ion-col size="4">
                <span class=""><ion-icon name="time" class="text-green"></ion-icon>08:00 AM</span>
              </ion-col>
              <ion-col size="4">
                <span class=""><ion-icon name="time" class="text-green"></ion-icon>04:00 PM</span>
              </ion-col>
              <ion-col size="2">
                <span class="">-</span>
              </ion-col>
            </ion-row><ion-row class="border-bottom">
                <ion-col size="2">
                  <span class="">1/7</span>
                </ion-col>
                <ion-col size="4">
                  <span class=""><ion-icon name="time" class="text-green"></ion-icon>08:00 AM</span>
                </ion-col>
                <ion-col size="4">
                  <span class=""><ion-icon name="time" class="text-green"></ion-icon>04:00 PM</span>
                </ion-col>
                <ion-col size="2">
                  <span class="">-</span>
                </ion-col>
              </ion-row>
              <ion-row class="border-bottom">
                <ion-col size="2">
                  <span class="">2/7</span>
                </ion-col>
                <ion-col size="4">
                  <span class=""><ion-icon name="time" class="text-danger"></ion-icon><span class="text-danger">10:32 AM</span></span>
                </ion-col>
                <ion-col size="4">
                  <span class=""><ion-icon name="time" class="text-green"></ion-icon>04:00 PM</span>
                </ion-col>
                <ion-col size="2">
                  <span class=""><span class="text-danger">65min</span></span>
                </ion-col>
              </ion-row>
              <ion-row class="border-bottom">
                <ion-col size="2">
                  <span class="">3/7</span>
                </ion-col>
                <ion-col size="4">
                  <span class=""><ion-icon name="time" class="text-green"></ion-icon>08:00 AM</span>
                </ion-col>
                <ion-col size="4">
                  <span class=""><ion-icon name="time" class="text-green"></ion-icon>04:00 PM</span>
                </ion-col>
                <ion-col size="2">
                  <span class="">-</span>
                </ion-col>
              </ion-row>
              <ion-row class="border-bottom">
                <ion-col size="2">
                  <span class="">4/7</span>
                </ion-col>
                <ion-col size="4">
                  <span class=""><ion-icon name="time" class="text-green"></ion-icon>08:00 AM</span>
                </ion-col>
                <ion-col size="4">
                  <span class=""><ion-icon name="time" class="text-green"></ion-icon>04:00 PM</span>
                </ion-col>
                <ion-col size="2">
                  <span class="">-</span>
                </ion-col>
              </ion-row>
              
              <ion-row class="border-bottom">
                <ion-col size="2">
                  <span class="">5/7</span>
                </ion-col>
                <ion-col size="4">
                  <span class=""><ion-icon name="time" class="text-green"></ion-icon>08:00 AM</span>
                </ion-col>
                <ion-col size="4">
                  <span class=""><ion-icon name="time" class="text-green"></ion-icon>04:00 PM</span>
                </ion-col>
                <ion-col size="2">
                  <span class="">-</span>
                </ion-col>
              </ion-row>
              <ion-row class="border-bottom">
                <ion-col size="2">
                  <span class="">6/7</span>
                </ion-col>
                
                <ion-col size="4">
                  <span class=""><ion-icon name="time" class="text-green"></ion-icon>04:00 PM</span>
                </ion-col>
                <ion-col size="4">
                  <span class=""><ion-icon name="time" class="text-danger"></ion-icon><span class="text-danger">10:32 AM</span></span>
                </ion-col>
                <ion-col size="2">
                  <span class=""><span class="text-danger">65min</span></span>
                </ion-col>
              </ion-row>
              <ion-row class="border-bottom">
                <ion-col size="2">
                  <span class="">7/7</span>
                </ion-col>
                <ion-col size="4">
                  <span class=""><ion-icon name="time" class="text-green"></ion-icon>08:00 AM</span>
                </ion-col>
                <ion-col size="4">
                  <span class=""><ion-icon name="time" class="text-green"></ion-icon>04:00 PM</span>
                </ion-col>
                <ion-col size="2">
                  <span class="">-</span>
                </ion-col>
              </ion-row>
              <ion-row class="border-bottom">
                <ion-col size="2">
                  <span class="">8/7</span>
                </ion-col>
                <ion-col size="4">
                  <span class=""><ion-icon name="time" class="text-green"></ion-icon>08:00 AM</span>
                </ion-col>
                <ion-col size="4">
                  <span class=""><ion-icon name="time" class="text-green"></ion-icon>04:00 PM</span>
                </ion-col>
                <ion-col size="2">
                  <span class="">-</span>
                </ion-col>
              </ion-row>
    </ion-grid>

  </div>


</ion-content>