<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      My Salary
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div style="height: 56px;"></div>
  <div class="personal-header-big">
    <ion-avatar>
      <img src="assets/imgs/man.png">
    </ion-avatar>


    <div class="personal-name">John Doe</div>
    <div class="personal-position">Human Resource Lead</div>
  </div>
  <div class="text-center p-3">
    <h1 class="text-green text-bold">19,884</h1>
    <div class="mb-4">May 2019 <span class="text-green">Net Salary</span></div>
    <ion-grid class="p-0">
      <ion-row>
        <ion-col>
          <div class="bg-4c84d7 rounded">
            <ion-grid>
              <ion-row>
                <ion-col size="4">
                  <div><img src="assets/imgs/grand-total.png"></div>
                </ion-col>
                <ion-col>
                  <div class="text-white text-left">Grand Total</div>
                  <div class="text-white text-left text-bold">28,250</div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-col>
        <ion-col>
          <div class="bg-4c84d7 rounded">
            <ion-grid>
              <ion-row>
                <ion-col size="4">
                  <div><img src="assets/imgs/total-debit.png"></div>
                </ion-col>
                <ion-col>
                  <div class="text-white text-left">Grand Total</div>
                  <div class="text-white text-left text-bold">8,365.99</div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-segment>
      <ion-segment-button checked>
        <ion-label>DUES</ion-label>
      </ion-segment-button>
      <ion-segment-button>
        <ion-label>DEDECTIONS</ion-label>
      </ion-segment-button>

    </ion-segment>
  </div>
  <ion-list class="salary-list">
    <ion-item>
      <ion-label>
        <ion-icon name="list-box" size="small"></ion-icon>Basic Salary : <strong class="text-green">1500.00</strong>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="list-box" size="small"></ion-icon>Allowances : <strong class="text-green">23535.00</strong>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="list-box" size="small"></ion-icon>Additions : <strong class="text-green">3215.00</strong>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="list-box" size="small"></ion-icon>Special Allowance : <strong class="text-green">0.00</strong>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="list-box" size="small"></ion-icon>Overtime : <strong class="text-green">0.00</strong>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="list-box" size="small"></ion-icon>Work In Dayoff : <strong class="text-green">0.00</strong>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list class="salary-list">



    <ion-item>
      <ion-label>
        <ion-icon name="list-box" size="small"></ion-icon>SI Staff : <strong class="text-danger">563.65</strong>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="list-box" size="small"></ion-icon>Penalties : <strong class="text-danger">0.00</strong>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="list-box" size="small"></ion-icon>Late : <strong class="text-danger">0.00</strong>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="list-box" size="small"></ion-icon>Absenace : <strong class="text-danger">0.00</strong>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="list-box" size="small"></ion-icon>Absenace Penalties : <strong class="text-danger">0.00</strong>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="list-box" size="small"></ion-icon>Permissions : <strong class="text-danger">0.00</strong>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="list-box" size="small"></ion-icon>Early Leave : <strong class="text-danger">0.00</strong>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="list-box" size="small"></ion-icon>No Sign : <strong class="text-danger">0.00</strong>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="list-box" size="small"></ion-icon>Medical Insurance : <strong class="text-danger">0.00</strong>
      </ion-label>
    </ion-item>
    <ion-item>   
      <ion-label>
        <ion-icon name="list-box" size="small"></ion-icon>Unpaid Leaves : <strong class="text-danger">0.00</strong>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="list-box" size="small"></ion-icon>Taxes : <strong class="text-danger">5302.34</strong>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="list-box" size="small"></ion-icon>Mobile Invoice : <strong class="text-danger">0.00</strong>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="list-box" size="small"></ion-icon>Loan Payment : <strong class="text-danger">0.00</strong>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>