.task-details-list{padding:22px;}
.task-details-list ion-item{}
.task-details-list ion-item:not(:last-child){border-bottom: #d2d2d2 1px solid;}
.task-details-list ion-label{}
.bs1{width: 24px;height: 24px;margin-bottom: -6px;}