<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847330435835-gt1m0trabqjf7u0a1teqjih301hm77i3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847330435835-gt1m0trabqjf7u0a1teqjih301hm77i3</string>
	<key>API_KEY</key>
	<string>AIzaSyC6DVtZbHnLjGom4fxyKb7WuT4OMpxy_0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>847330435835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>misr.kian.hrms</string>
	<key>PROJECT_ID</key>
	<string>misr-kian-hrms</string>
	<key>STORAGE_BUCKET</key>
	<string>misr-kian-hrms.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847330435835:ios:4303bebfa88b67e94f865e</string>
	<key>DATABASE_URL</key>
	<string>https://misr-kian-hrms.firebaseio.com</string>
</dict>
</plist>