ion-icon{
    margin-bottom: -2px;
    margin-right:6px
}
.arrow-point-to-right{
    background-color: #4278cb;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    padding: 9px;
    display: block;
    position: absolute;
    right: 16px;
    bottom: 20px;
}
.arrow-point-to-right img{
    width: 11px;
    margin: 0 auto;
}
.cust-chip{
    margin-top: -8px;
    margin-right: 0;
    font-size: 13px;
}