<ion-header>
    <ion-toolbar>
       <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        My Profile
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
  
    <div style="height: 56px;"></div>
    <div class="personal-header-big">
      <ion-avatar>
        <img src="assets/imgs/man.png">
      </ion-avatar>
  
  
      <div class="personal-name">John Doe</div>
      <div class="personal-position">Human Resource Lead</div>
    </div>
    
    <ion-list class="profile-list">
      <ion-item>
        <ion-label>
          <ion-icon name="calendar" size="small"></ion-icon>Start Date : <strong>14 May 2014</strong>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="at" size="small"></ion-icon>Email : <strong> email@domain.com</strong>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="call" size="small"></ion-icon>Phone : <strong> +2 010 9541 123</strong>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="pin" size="small"></ion-icon>Address : <strong> : 29 bahr street, City, Country</strong>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-text class="mt-2">
          <ion-icon name="pin" size="small"></ion-icon>Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.Lorem Ipsum has been the industry's standard dummy text ever since
        </ion-text>
  
      </ion-item>
    </ion-list>
   
  </ion-content>