<app-header [title]="'app.myProfile.title' | translate" backPage="/myinformations" renderBackButton=true></app-header>
  
  <ion-content>
  
  
    <div style="height: 56px;"></div>
    <div class="personal-header-big">
      <ion-avatar>
          <img src="assets/imgs/man.png" *ngIf="!myPhoto">
          <img src="{{'data:image/png;base64,' + myPhoto}}" *ngIf="myPhoto">
      </ion-avatar>
  
  
      <div class="personal-name">{{ myInfo.EmployeeName }}</div>
      <div class="personal-position">{{ myInfo.JobTitle }}</div>
    </div>
    
    <ion-list class="profile-list">
      <ion-item>
        <ion-label>
          <ion-icon name="list-box" size="small"></ion-icon><strong>{{ 'app.myProfile.employeeNo' | translate }}: </strong><span>{{ myInfo.EmployeeNo }}</span>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="list-box" size="small"></ion-icon><strong>{{ 'app.myProfile.employeeName' | translate }}: </strong><span>{{ myInfo.EmployeeName }}</span>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="list-box" size="small"></ion-icon> <strong>{{ 'app.myProfile.jobTitle' | translate }}: </strong><span>{{ myInfo.JobTitle }}</span>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="list-box" size="small"></ion-icon> <strong>{{ 'app.myProfile.grade' | translate }}: </strong><span>{{ myInfo.Grade }}</span>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="list-box" size="small"></ion-icon> <strong>{{ 'app.myProfile.department' | translate }}: </strong><span>{{ myInfo.Department }}</span>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="list-box" size="small"></ion-icon> <strong>{{ 'app.myProfile.division' | translate }}: </strong><span>{{ myInfo.Division }}</span>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="list-box" size="small"></ion-icon> <strong>{{ 'app.myProfile.section' | translate }}: </strong><span>{{ myInfo.Section }}</span>
        </ion-label>
      </ion-item>
    </ion-list>
   
  </ion-content>