<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ 'app.vacationRequest.newRequestPageTitle' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card no-margin>
    <ion-card-header no-padding padding-top padding-start>
      <ion-card-title>{{ 'app.vacationRequest.newRequestPageTitle' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="bg-white p-4">

      <form [formGroup]="requestForm" novalidate (submit)="submit()">
          <ion-item class="border bg-white">
              <ion-label>{{ 'app.vacationRequest.type' | translate }}</ion-label>
              <ion-select formControlName="VacationTypeId" (ionChange)="getVacationTypeBalance()">
                <ion-select-option value="">{{ 'app.vacationRequest.selectType' | translate }}</ion-select-option>
                <ion-select-option *ngFor="let type of vacationTypeList" value="{{type.ID}}">{{type.Name}}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item class="border bg-white">
                <ion-label position="">{{ 'app.vacationRequest.fromDate' | translate }}</ion-label>
                <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="DD MMMM YYYY" 
                  (ionChange)="getVacationTypeBalance()" formControlName="FromDate"></ion-datetime>
              </ion-item>
              <ion-item class="border bg-white">
                  <ion-label position="">{{ 'app.vacationRequest.toDate' | translate }}</ion-label>
                  <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="DD MMMM YYYY"
                    (ionChange)="getVacationTypeBalance()" formControlName="ToDate"></ion-datetime>
                </ion-item>
                <ion-item class="border bg-white">
                    <ion-label position="">{{ 'app.vacationRequest.excludeWeekend' | translate }}</ion-label>
                    <ion-checkbox formControlName="ExcludeWeekend" (ionChange)="calculateVacationDays()" [checked]="false">
                    </ion-checkbox>
                  </ion-item>
                  <ion-item class="border bg-white">
                      <ion-label position="">{{ 'app.vacationRequest.vacationDays' | translate }}</ion-label>
                      <ion-input type="text" formControlName="VacationDays"></ion-input>
                    </ion-item>
                    <ion-item class="border bg-white">
                        <ion-label position="">{{ 'app.vacationRequest.balance' | translate }}</ion-label>
                        <ion-input type="text" formControlName="Balance" disabled></ion-input>
                      </ion-item>
                      <ion-item class="border bg-white">
                          <ion-label position="">{{ 'app.vacationRequest.replacement' | translate }}</ion-label>
                          <ionic-selectable formControlName="Replacement" itemValueField="EmployeeId" itemTextField="EmployeeName"
                            [items]="employees" [canSearch]="true" (onSearch)="searchEmployee($event)"
                            [placeholder]="'app.vacationRequest.selectReplacement' | translate">
                            <ng-template ionicSelectableItemTemplate let-replacement="item"
                              let-isReplacementtSelected="isItemSelected">
                              {{replacement.EmployeeName}} ({{replacement.Department}})
                            </ng-template>
                          </ionic-selectable>
                        </ion-item>
                        <ion-item class="border bg-white">
                            <ion-label position="">{{ 'app.overtimeRequest.remarks' | translate }}</ion-label>
                            <ion-textarea type="text" formControlName="Remarks"></ion-textarea>
                          </ion-item>
                          <ion-button type="submit" expand="full" [disabled]="requestForm.invalid" class="btn-brand">Submit</ion-button>
                          <button class="btn-brand" type="submit" [disabled]="!authForm.valid" (click)="login()">عاوز الزرار ده</button>

                         
                  
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>