<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <!-- {{ 'app.vacationRequest.newRequestPageTitle' | translate }} -->
      New Vacation Request
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div style="height: 56px;"></div>
    <div class="p-1">
    <form [formGroup]="requestForm" novalidate  (submit)="submit()">
      <ion-grid fixed no-padding>
        <ion-row>
          <ion-col size="12">
            <ion-list class="task-details-list">
              <ion-item class="border-0">
                <ion-label class="text-bold">{{ 'app.vacationRequest.type' | translate }}</ion-label>
              </ion-item>
              <ion-item class="border-0">
                  <ion-select formControlName="VacationTypeId" (ionChange)="getVacationTypeBalance()" 
                    [placeholder]="'app.vacationRequest.selectType' | translate" class="px-2 rounded bg-e7ebed border-0">
                      <ion-select-option *ngFor="let type of vacationTypeList" value="{{type.ID}}">{{type.Name}}
                      </ion-select-option>
                    </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="6">
            <ion-list class="task-details-list">
              <ion-item class="border-0">
                <ion-label class="text-bold">{{ 'app.vacationRequest.fromDate' | translate }}</ion-label>
              </ion-item>
              <ion-item class="border-0">
                  <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="DD MMMM YYYY" class="px-2 rounded bg-e7ebed border-0 width100"
                  (ionChange)="getVacationTypeBalance()" formControlName="FromDate"></ion-datetime>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="6">
            <ion-list class="task-details-list">
              <ion-item class="border-0">
                <ion-label class="text-bold">{{ 'app.vacationRequest.toDate' | translate }}</ion-label>
              </ion-item>
              <ion-item class="border-0">
                  <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="DD MMMM YYYY" class="px-2 rounded bg-e7ebed border-0 width100"
                  (ionChange)="getVacationTypeBalance()" formControlName="ToDate"></ion-datetime>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                <ion-checkbox color="dark" formControlName="ExcludeWeekend" (ionChange)="calculateVacationDays()" [checked]="false" slot="start"></ion-checkbox>
                <ion-label class="text-bold">{{ 'app.vacationRequest.excludeWeekend' | translate }}</ion-label>
              </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-list class="task-details-list">
              <ion-item class="border-0">
                <ion-label class="text-bold">{{ 'app.vacationRequest.vacationDays' | translate }}</ion-label>
              </ion-item>
              <ion-item class="border-0">
                <ion-input formControlName="VacationDays" class="px-2 rounded bg-e7ebed border-0"></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="6">
              <ion-list class="task-details-list">
                <ion-item class="border-0">
                  <ion-label class="text-bold">{{ 'app.vacationRequest.balance' | translate }}</ion-label>
                </ion-item>
                <ion-item class="border-0">
                  <ion-input formControlName="Balance" disabled class="px-2 rounded bg-e7ebed border-0"></ion-input>
                </ion-item>
              </ion-list>
            </ion-col>             
          <ion-col size="12">
            <ion-list class="task-details-list">
              <ion-item class="border-0">
                <ion-label><span class="text-bold">{{ 'app.vacationRequest.remarks' | translate }}</span></ion-label>
              </ion-item>
              <ion-item class="border-0">
                <ion-textarea formControlName="Remarks" class="px-2 rounded bg-e7ebed border-0">
                </ion-textarea>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="12">
              <ion-list class="task-details-list">
                <ion-item class="border-0">
                  <ion-label><span class="text-bold">{{ 'app.vacationRequest.replacement' | translate }}</span></ion-label>
                </ion-item>
                <ion-item class="border-0">
                    <ionic-selectable class="px-2 rounded bg-e7ebed border-0" formControlName="Replacement" itemValueField="EmployeeId" itemTextField="EmployeeName"
                    [items]="employees" [canSearch]="true" (onSearch)="searchEmployee($event)"
                    [placeholder]="'app.vacationRequest.selectReplacement' | translate">
                    <ng-template ionicSelectableItemTemplate let-replacement="item"
                      let-isReplacementtSelected="isItemSelected">
                      {{replacement.EmployeeName}} ({{replacement.Department}})
                    </ng-template>
                  </ionic-selectable>
                </ion-item>
              </ion-list>
            </ion-col>
          <ion-col size="12">
                <!-- <ion-button type="submit"  expand="full" [disabled]="requestForm.invalid">Submit</ion-button></ion-col> -->
                <button  class="btn-brand" type="submit" [disabled]="requestForm.invalid">Save</button>
          </ion-col>
        </ion-row>
      </ion-grid>  
    </form>
    </div>
  </ion-content>