ion-list{background-color: transparent!important}
ion-item{padding: 0 16px;margin: 16px 0 0 0;border-radius: 8px;background: #fff;}
ion-input{border:none}
.item-native{padding:0!important;margin:0!important;}
ion-input input{border:none!important;border:0px!important}
ion-checkbox{margin: 0!important} 
.item-inner{border:none!important;border:0px!important}
  