<!--ion-header>
  <ion-toolbar>
    <ion-title>{{ 'app.vacationRequest.newTitle' | translate }}</ion-title>
  </ion-toolbar>
</ion-header -->

<ion-content>
  <ion-list>
    <ion-label>{{ 'app.vacationRequest.type' | translate }}</ion-label>
    <ion-item class="inputform">
      <ion-label *ngIf="false">{{ 'app.vacationRequest.selectType' | translate }}</ion-label>
      <ion-select [(ngModel)]="request.VacationTypeId" (ionChange)="getVacationTypeBalance()">
        <ion-select-option *ngFor="let type of vacationTypeList" value="{{type.ID}}">{{type.Name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-label *ngIf="request.VacationTypeId">{{ 'app.vacationRequest.fromDate' | translate }}</ion-label>
    <ion-item class="inputform" *ngIf="request.VacationTypeId">
      <ion-datetime displayFormat="YYYY-MM-DD" (ionChange)="getVacationTypeBalance()" pickerFormat="DD MMMM YYYY"
        [(ngModel)]="request.FromDate"></ion-datetime>
    </ion-item>
    <ion-label *ngIf="request.VacationTypeId">{{ 'app.vacationRequest.toDate' | translate }}</ion-label>
    <ion-item class="inputform" *ngIf="request.VacationTypeId">
      <ion-datetime displayFormat="YYYY-MM-DD" (ionChange)="getVacationTypeBalance()" pickerFormat="DD MMMM YYYY"
        [(ngModel)]="request.ToDate"></ion-datetime>
    </ion-item>
    <ion-label *ngIf="request.Balance">{{ 'app.vacationRequest.balance' | translate }}</ion-label>
    <ion-item class="inputform" *ngIf="request.Balance">
        <ion-input type="text"  [(ngModel)]="request.Balance" disabled></ion-input>
    </ion-item>
    <ion-label *ngIf="request.Balance > 0">{{ 'app.vacationRequest.vacationDays' | translate }}</ion-label>
    <ion-item class="inputform" *ngIf="request.Balance">
        <ion-input type="text"  [(ngModel)]="request.VacationDays" ></ion-input>
    </ion-item>
    <ion-item *ngIf="request.Balance > 0">
        <ion-label>{{ 'app.vacationRequest.excludeWeekend' | translate }}</ion-label>
        <ion-checkbox [(ngModel)]="request.ExcludeWeekend" (ionChange)="calculateVacationDays()"></ion-checkbox>
    </ion-item>
    <ion-label *ngIf="request.Balance > 0">{{ 'app.vacationRequest.replacement' | translate }}</ion-label>
    <ion-item *ngIf="request.Balance > 0">        
        <ionic-selectable [(ngModel)]="replacement" itemValueField="EmployeeId" itemTextField="EmployeeName" [items]="employees" [canSearch]="true"
        (onSearch)="searchEmployee($event)" [placeholder]="'app.vacationRequest.selectReplacement' | translate">
            <ng-template ionicSelectableItemTemplate let-port="item" let-isPortSelected="isItemSelected">
              {{replacement.EmployeeName}} ({{replacement.Department}})
            </ng-template>
          </ionic-selectable>
      </ion-item>
      <div class="logindiv">
          <button class="loginBtn" type="submit"  *ngIf="request.Balance > 0" (click)="submit()">Submit</button>
        </div>
  </ion-list>
</ion-content>