<app-header [title]="'app.penaltyRequest.myRequestsTitle' | translate" backPage="/choose-request-type"
  renderBackButton=true></app-header>

<ion-content>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink='/penalty-request/new'>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <div style="height: 56px;"></div>
    <div *ngIf="!requests || requests.length == 0" class="noResultFoundDiv">{{ 'app.common.noResultFound' | translate }}</div>
    <div class="p-1 pb-5">
      <ion-card>
        <ion-card class="p-3 m-3 text-dark " *ngFor="let req of requests">
          <div class="text-bold text-dark pb-2" [ngClass]="languageService.currentLanguageIsEnglish() ? 'text-align-l' : 'text-align-r'">
            <ion-icon name="person" [ngClass]="languageService.currentLanguageIsEnglish() ? 'float-l' : 'float-r'"></ion-icon>{{req.PendingOn ? req.PendingOn:'.'}}
            <ion-chip [color]="getColorClass(req.Status.ID)">
              <ion-label>{{req.Status.Name}}</ion-label>
            </ion-chip>
          </div>
          <div class="border-top-dotted pt-2">
            <span [ngClass]="languageService.currentLanguageIsEnglish() ? 'arrow-point-to-right' : 'arrow-point-to-left'">
              <ion-buttons (click)="goToDetails(req)">
                <img [src]="languageService.currentLanguageIsEnglish() ? 'assets/imgs/arrow-point-to-right.png' : 'assets/imgs/arrow-point-to-left.png'" />
              </ion-buttons></span>
              <div [ngClass]="languageService.currentLanguageIsEnglish() ? 'text-align-l' : 'text-align-r'">
                <ion-icon name="calendar"></ion-icon><strong>{{ 'app.penaltyRequest.penaltyDate' | translate }}:</strong>
                {{req.PenaltyDate}}
              </div>
              <div [ngClass]="languageService.currentLanguageIsEnglish() ? 'text-align-l' : 'text-align-r'" *ngIf="!authService.getAllowedScreens().includes(appCon.QT_PENALTY_REQUEST_PAGE)">
              <ion-icon name="warning"></ion-icon><strong>{{ 'app.penaltyRequest.penaltyReason' | translate }}:</strong>
              {{req.PenaltyReason?.Name}}
            </div>
            <div [ngClass]="languageService.currentLanguageIsEnglish() ? 'text-align-l' : 'text-align-r'">
              <ion-icon name="warning"></ion-icon><strong>{{ 'app.penaltyRequest.penaltyCause' | translate }}:</strong>
              {{req.PenaltyCause}}
            </div>
            <div [ngClass]="languageService.currentLanguageIsEnglish() ? 'text-align-l' : 'text-align-r'">
              <ion-icon name="logo-usd"></ion-icon><strong>{{ 'app.penaltyRequest.penaltyValue' | translate }}:</strong>
              {{req.PenaltyValue}}
            </div>
          </div>
        </ion-card>
      </ion-card>
    </div>
  </ion-content>
