<app-header [title]="title | translate" [backPage]="backPage" renderBackButton=true></app-header>
<ion-content>
  <div style="height: 56px;"></div>
  <div class="p-3">
    <form [formGroup]="requestForm" novalidate (submit)="submit()">
      <ion-grid  fixed class="ion-no-padding">
        <ion-row>
          <ion-col size="12">
            <ion-list class="task-details-list">
              <ion-item class="border-0 h32">
                <ion-label class="font-weight-bold mb-0">{{ 'app.workinDayOffRequest.employeeShiftDate' | translate }}
                </ion-label>
              </ion-item>
              <ion-item class="border-0">
                <ion-input readonly [liIonic4Datepicker]="datePickerObj" class="px-2 rounded bg-form border-1"
                  formControlName="EmployeeShiftDate" mode="md" [disabled]="readonly"
                  [placeholder]="'app.workinDayOffRequest.employeeShiftDate' | translate"></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="12">
            <ion-list class="task-details-list">
              <ion-item class="border-0 h32">
                <ion-label class="font-weight-bold mb-0">{{ 'app.workinDayOffRequest.shift' | translate }}</ion-label>
              </ion-item>
              <ion-item class="border-0">
                <ion-select formControlName="Shift" name="Shift" [selectedText]="request.Shift?.ShiftName"
                  (ionChange)="shiftChanged($event.detail.value)"
                  [placeholder]="'app.workinDayOffRequest.selectShift' | translate"
                  class="px-2 rounded bg-form border-1" [disabled]="readonly">
                  <ion-select-option *ngFor="let e of employeeShifts" value="{{e.ShiftId}}">{{e.ShiftName}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="12">
            <ion-list class="task-details-list">
              <ion-item class="border-0 h29">
                <ion-label class="font-weight-bold mb--2">{{ 'app.workinDayOffRequest.signIn' | translate }}</ion-label>
              </ion-item>
              <ion-item class="border-0">
                <ion-datetime formControlName="SignIn" displayFormat="h:mm A" style="padding: 10px !important;" 
                *ngIf="!(readonly || authService.getAllowedScreens().includes(appCon.QT_WORK_IN_DAYOFF_REQUEST_PAGE))"
                [disabled]="readonly || authService.getAllowedScreens().includes(appCon.QT_WORK_IN_DAYOFF_REQUEST_PAGE)"  [placeholder]="'app.workinDayOffRequest.signIn' | translate"
                class="native-input sc-ion-input-md px-2 rounded bg-form border-1 ng-untouched ng-pristine ng-invalid ion-untouched ion-pristine ion-invalid sc-ion-input-md-h sc-ion-input-md-s md hydrated"></ion-datetime>
                
                <ion-input readonly  class="px-2 rounded bg-form border-1"
                formControlName="SignIn" [disabled]="readonly || authService.getAllowedScreens().includes(appCon.QT_WORK_IN_DAYOFF_REQUEST_PAGE)" 
                *ngIf="readonly || authService.getAllowedScreens().includes(appCon.QT_WORK_IN_DAYOFF_REQUEST_PAGE)"
                [placeholder]="'app.workinDayOffRequest.signIn' | translate"></ion-input>  
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="12">
            <ion-list class="task-details-list">
              <ion-item class="border-0 h29">
                <ion-label class="font-weight-bold mb--2">{{ 'app.workinDayOffRequest.signOut' | translate }}
                </ion-label>
              </ion-item>
              <ion-item class="border-0">
                <ion-datetime formControlName="SignOut" displayFormat="h:mm A" style="padding: 10px !important;" 
                *ngIf="!(readonly || authService.getAllowedScreens().includes(appCon.QT_WORK_IN_DAYOFF_REQUEST_PAGE))"
                [disabled]="readonly || authService.getAllowedScreens().includes(appCon.QT_WORK_IN_DAYOFF_REQUEST_PAGE)"  [placeholder]="'app.workinDayOffRequest.signOut' | translate"
                class="native-input sc-ion-input-md px-2 rounded bg-form border-1 ng-untouched ng-pristine ng-invalid ion-untouched ion-pristine ion-invalid sc-ion-input-md-h sc-ion-input-md-s md hydrated"></ion-datetime>
               
                <ion-input readonly  class="px-2 rounded bg-form border-1"
                formControlName="SignOut" [disabled]="readonly || authService.getAllowedScreens().includes(appCon.QT_WORK_IN_DAYOFF_REQUEST_PAGE)" 
                *ngIf="readonly || authService.getAllowedScreens().includes(appCon.QT_WORK_IN_DAYOFF_REQUEST_PAGE)"
                [placeholder]="'app.workinDayOffRequest.signOut' | translate"></ion-input>
 
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-checkbox class="m-0 mr-3" color="dark" formControlName="ExtendNextDay"
                [checked]="request.ExtendNextDay" slot="start" [disabled]="readonly"></ion-checkbox>
              <ion-label class="font-weight-bold h28">{{ 'app.workinDayOffRequest.extendNextDay' | translate }}
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-list class="task-details-list">
              <ion-item class="border-0 h29">
                <ion-label><span
                    class="font-weight-bold mb--2">{{ 'app.workinDayOffRequest.remarks' | translate }}</span>
                </ion-label>
              </ion-item>
              <ion-item class="border-0">
                <ion-textarea formControlName="Remarks" class="px-2 rounded bg-form border-1" [disabled]="readonly">
                </ion-textarea>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="12">
            <button class="btn-brand" type="submit" *ngIf="renderSaveButton"
              [disabled]="requestForm.invalid">{{ 'app.common.save' | translate }}</button>
            <button class="btn-danger" type="button" (click)="navigateToSearch(false)"
              *ngIf="renderCloseButton">{{ 'app.common.close' | translate }}</button>
          </ion-col>
          <ion-col size="12" *ngIf="renderTaskActions">
            <app-task-actions [renderApproveButton]="renderApproveAndRejectButtons()" [workflowInstanceId]="request.WorkflowInstanceId"
              [renderRejectButton]="renderApproveAndRejectButtons()" [renderOkButton]="renderOkButton()"
              [renderComments]="request.AllowedComments" [commentsRequired]="request.CommentsMandatory">
            </app-task-actions>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>