<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Top 10 requests</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content><!-- fab placed to the bottom end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink='/overtime-request/new'>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  
    <div style="height: 56px;"></div>
    <div class="p-1">
  
      <ion-card class="p-3 m-3 text-dark ">
        <div class="text-bold text-dark pb-2">
            Vaction Request No 01
        </div>
        <div class="border-top-dotted pt-2">
          <div>
            <ion-icon name="filing" size="small"></ion-icon>Type: <span class="text-primary">Regular Vacation</span>
          </div>
          <div>
            <ion-icon name="calendar" size="small"></ion-icon>Date: from 12 to 20 May
          </div>
          <div>
            <ion-icon name="filing" size="small"></ion-icon>Replcament: Ali Zahrani
          </div>
          <div>
            <ion-icon name="filing" size="small"></ion-icon>Balance: 14 day
          </div>
        </div>
      </ion-card>
      <ion-card class="p-3 m-3 text-dark ">
        <div class="text-bold text-dark pb-2">
            Vaction Request No 02
        </div>
        <div class="border-top-dotted pt-2">
          <div>
            <ion-icon name="filing" size="small"></ion-icon>Type: <span class="text-primary">Regular Vacation</span>
          </div>
          <div>
            <ion-icon name="calendar" size="small"></ion-icon>Date: from 12 to 20 May
          </div>
          <div>
            <ion-icon name="filing" size="small"></ion-icon>Replcament: Ali Zahrani
          </div>
          <div>
            <ion-icon name="filing" size="small"></ion-icon>Balance: 14 day
          </div>
        </div>
      </ion-card>
      <ion-card class="p-3 m-3 text-dark ">
        <div class="text-bold text-dark pb-2">
            Vaction Request No 03
        </div>
        <div class="border-top-dotted pt-2">
          <div>
            <ion-icon name="filing" size="small"></ion-icon>Type: <span class="text-primary">Regular Vacation</span>
          </div>
          <div>
            <ion-icon name="calendar" size="small"></ion-icon>Date: from 12 to 20 May
          </div>
          <div>
            <ion-icon name="filing" size="small"></ion-icon>Replcament: Ali Zahrani
          </div>
          <div>
            <ion-icon name="filing" size="small"></ion-icon>Balance: 14 day
          </div>
        </div>
      </ion-card>
      <ion-card class="p-3 m-3 text-dark">
        <div class="text-bold text-dark pb-2">
            Vaction Request No 04
        </div>
        <div class="border-top-dotted pt-2">
          <div>
            <ion-icon name="filing" size="small"></ion-icon>Type: <span class="text-primary">Regular Vacation</span>
          </div>
          <div>
            <ion-icon name="calendar" size="small"></ion-icon>Date: from 12 to 20 May
          </div>
          <div>
            <ion-icon name="filing" size="small"></ion-icon>Replcament: Ali Zahrani
          </div>
          <div>
            <ion-icon name="filing" size="small"></ion-icon>Balance: 14 day
          </div>
        </div>
      </ion-card>
      <ion-card class="p-3 m-3 text-dark ">
          <div class="text-bold text-dark pb-2">
              Vaction Request No 05
          </div>
          <div class="border-top-dotted pt-2">
            <div>
              <ion-icon name="filing" size="small"></ion-icon>Type: <span class="text-primary">Regular Vacation</span>
            </div>
            <div>
              <ion-icon name="calendar" size="small"></ion-icon>Date: from 12 to 20 May
            </div>
            <div>
              <ion-icon name="filing" size="small"></ion-icon>Replcament: Ali Zahrani
            </div>
            <div>
              <ion-icon name="filing" size="small"></ion-icon>Balance: 14 day
            </div>
          </div>
        </ion-card>
        <ion-card class="p-3 m-3 text-dark ">
          <div class="text-bold text-dark pb-2">
              Vaction Request No 06
          </div>
          <div class="border-top-dotted pt-2">
            <div>
              <ion-icon name="filing" size="small"></ion-icon>Type: <span class="text-primary">Regular Vacation</span>
            </div>
            <div>
              <ion-icon name="calendar" size="small"></ion-icon>Date: from 12 to 20 May
            </div>
            <div>
              <ion-icon name="filing" size="small"></ion-icon>Replcament: Ali Zahrani
            </div>
            <div>
              <ion-icon name="filing" size="small"></ion-icon>Balance: 14 day
            </div>
          </div>
        </ion-card>
        <ion-card class="p-3 m-3 text-dark ">
          <div class="text-bold text-dark pb-2">
              Vaction Request No 07
          </div>
          <div class="border-top-dotted pt-2">
            <div>
              <ion-icon name="filing" size="small"></ion-icon>Type: <span class="text-primary">Regular Vacation</span>
            </div>
            <div>
              <ion-icon name="calendar" size="small"></ion-icon>Date: from 12 to 20 May
            </div>
            <div>
              <ion-icon name="filing" size="small"></ion-icon>Replcament: Ali Zahrani
            </div>
            <div>
              <ion-icon name="filing" size="small"></ion-icon>Balance: 14 day
            </div>
          </div>
        </ion-card>
        <ion-card class="p-3 m-3 text-white bg-e21b1b ">
          <div class="text-bold text-dark pb-2">
              Vaction Request No 08
          </div>
          <div class="border-top-dotted pt-2">
            <div>
              <ion-icon name="filing" size="small"></ion-icon>Type: <span class="text-primary">Regular Vacation</span>
            </div>
            <div>
              <ion-icon name="calendar" size="small"></ion-icon>Date: from 12 to 20 May
            </div>
            <div>
              <ion-icon name="filing" size="small"></ion-icon>Replcament: Ali Zahrani
            </div>
            <div>
              <ion-icon name="filing" size="small"></ion-icon>Balance: 14 day
            </div>
          </div>
        </ion-card>
    </div>
  </ion-content>