<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Top 10 requests</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content><!-- fab placed to the bottom end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink='/vacation-request/new'>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  
    <div style="height: 56px;"></div>
    <div class="p-1 pb-5">
  
        <ion-card class="p-3 m-3 text-dark ">
          <div class="text-bold text-dark pb-2" [ngClass]="languageService.currentLanguageIsEnglish() ? 'text-align-l' : 'text-align-r'">
            <ion-icon name="person" [ngClass]="languageService.currentLanguageIsEnglish() ? 'float-l' : 'float-r'"></ion-icon>John Doe John
            <ion-chip color="success float-right cust-chip">
              <ion-label>Approved</ion-label>
            </ion-chip>
          </div>
          <div class="border-top-dotted pt-2">
            <span [ngClass]="languageService.currentLanguageIsEnglish() ? 'arrow-point-to-right' : 'arrow-point-to-left'"><img [src]="languageService.currentLanguageIsEnglish() ? 'assets/imgs/arrow-point-to-right.png' : 'assets/imgs/arrow-point-to-left.png'" /></span>
            <div>
              <ion-icon name="contacts"></ion-icon><strong>Employee ID:</strong> 1254545
            </div>
            <div>
              <ion-icon name="flag"></ion-icon><strong>Request:</strong> Vacation
            </div>
          </div>
        </ion-card>
        <!-- -->
        <ion-card class="p-3 m-3 text-dark ">
          <div class="text-bold text-dark pb-2" [ngClass]="languageService.currentLanguageIsEnglish() ? 'text-align-l' : 'text-align-r'">
            <ion-icon name="person" [ngClass]="languageService.currentLanguageIsEnglish() ? 'float-l' : 'float-r'"></ion-icon>John Doe John
            <ion-chip color="danger float-right cust-chip">
              <ion-label>Rejected</ion-label>
            </ion-chip>
          </div>
          <div class="border-top-dotted pt-2">
            <span [ngClass]="languageService.currentLanguageIsEnglish() ? 'arrow-point-to-right' : 'arrow-point-to-left'"><img [src]="languageService.currentLanguageIsEnglish() ? 'assets/imgs/arrow-point-to-right.png' : 'assets/imgs/arrow-point-to-left.png'" /></span>
            <div>
              <ion-icon name="contacts"></ion-icon><strong>Employee ID:</strong> 1254545
            </div>
            <div>
              <ion-icon name="flag"></ion-icon><strong>Request:</strong> Vacation
            </div>
          </div>
        </ion-card>
        <!-- -->
        <ion-card class="p-3 m-3 text-dark ">
          <div class="text-bold text-dark pb-2" [ngClass]="languageService.currentLanguageIsEnglish() ? 'text-align-l' : 'text-align-r'">
            <ion-icon name="person" [ngClass]="languageService.currentLanguageIsEnglish() ? 'float-l' : 'float-r'"></ion-icon>John Doe John
          </div>
          <div class="border-top-dotted pt-2">
            <span [ngClass]="languageService.currentLanguageIsEnglish() ? 'arrow-point-to-right' : 'arrow-point-to-left'"><img [src]="languageService.currentLanguageIsEnglish() ? 'assets/imgs/arrow-point-to-right.png' : 'assets/imgs/arrow-point-to-left.png'" /></span>
            <div>
              <ion-icon name="contacts"></ion-icon><strong>Employee ID:</strong> 1254545
            </div>
            <div>
              <ion-icon name="flag"></ion-icon><strong>Request:</strong> Vacation
            </div>
          </div>
        </ion-card>
        <!-- -->
        <ion-card class="p-3 m-3 text-dark ">
          <div class="text-bold text-dark pb-2" [ngClass]="languageService.currentLanguageIsEnglish() ? 'text-align-l' : 'text-align-r'">
            <ion-icon name="person" [ngClass]="languageService.currentLanguageIsEnglish() ? 'float-l' : 'float-r'"></ion-icon>John Doe John
          </div>
          <div class="border-top-dotted pt-2">
            <span [ngClass]="languageService.currentLanguageIsEnglish() ? 'arrow-point-to-right' : 'arrow-point-to-left'"><img [src]="languageService.currentLanguageIsEnglish() ? 'assets/imgs/arrow-point-to-right.png' : 'assets/imgs/arrow-point-to-left.png'" /></span>
            <div>
              <ion-icon name="contacts"></ion-icon><strong>Employee ID:</strong> 1254545
            </div>
            <div>
              <ion-icon name="flag"></ion-icon><strong>Request:</strong> Vacation
            </div>
          </div>
        </ion-card>
        <!-- -->
        <ion-card class="p-3 m-3 text-dark ">
          <div class="text-bold text-dark pb-2" [ngClass]="languageService.currentLanguageIsEnglish() ? 'text-align-l' : 'text-align-r'">
            <ion-icon name="person" [ngClass]="languageService.currentLanguageIsEnglish() ? 'float-l' : 'float-r'"></ion-icon>John Doe John
          </div>
          <div class="border-top-dotted pt-2">
            <span [ngClass]="languageService.currentLanguageIsEnglish() ? 'arrow-point-to-right' : 'arrow-point-to-left'"><img [src]="languageService.currentLanguageIsEnglish() ? 'assets/imgs/arrow-point-to-right.png' : 'assets/imgs/arrow-point-to-left.png'" /></span>
            <div>
              <ion-icon name="contacts"></ion-icon><strong>Employee ID:</strong> 1254545
            </div>
            <div>
              <ion-icon name="flag"></ion-icon><strong>Request:</strong> Vacation
            </div>
          </div>
        </ion-card>
        <!-- -->
    </div>
  </ion-content>