// http://ionicframework.com/docs/theming/
@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


.li-ionic-timepicker {
    .modal-wrapper {
        max-height: 276px;
        width: 310px;
        min-height: 0;
        border-radius: 0px;
        --ion-color-primary: #00345d; 
        // This Variable used for the change of colour 
        // ionic4-timepicker only.
        // --ion-color-primary-tint: rgb(214, 153, 153); 
        // This Variable changes the tint colour of background 
        // when click button.
 
       
 
 
    }
}

ion-item {
    --border-width: 0;
    --inner-border-width: 0;
    --show-full-highlight: 0;
    --padding-start: 0;
    --inner-padding-end: 0;
}

.ng-valid[required],
.ng-valid.required,
.ng-valid:not(form) {
    border-bottom: 1px solid #42A948 !important;
    /* green */
}

.ng-invalid:not(form) {
    border-bottom: 1px solid #a94442;
    /* red */
}

.ng-pristine:not(form) {
    border-bottom: 1px solid #ccc;
}
ion-content.side-menu{
    --padding-top: 80px;
    --ion-background-color:#6695d9;
}

ion-toolbar{
    --ion-background-color:#6191d7;
    --ion-color:#ffffff;
    color:#ffffff!important;
    --ion-padding:0;
}
.ng-valid, .ng-valid.required, .ng-valid:not(form) {
    border-bottom: 0px solid #42A948 !important;
}

.ng-pristine:not(form) {
    border-bottom: 0px solid #ccc!important
}

#ion-sel-0-lbl {
    max-width: 40%!important
}

.w-60 {
    width: 60%!important;
}

.mt-56px{margin-top:56px;}

.list-md {width: 100%;margin: 0 auto;padding: 0px}

ion-select {
    min-width: 100% !important;
    max-width: 100% !important;
}