<ion-content>
  <!-- <div style="height: 56px;"></div> -->
  <div class="personal-header-big">
    <span class="home-menu-button2 arabic" (click)="changeLanguage('ar')" *ngIf="languageService.currentLanguageIsEnglish()">عربي</span>
    <span class="home-menu-button2 arabic" (click)="changeLanguage('en')" *ngIf="languageService.currentLanguageIsArabic()">English</span>
    <span class="home-menu-button">
      <ion-buttons [routerDirection]="'root'" routerLink='/logout'>
          <img src="assets/imgs/logout.png"/>
      </ion-buttons>
    </span>
      
    <ion-avatar>
        <img src="assets/imgs/man.png" *ngIf="!myPhoto">
        <img src="{{'data:image/png;base64,' + myPhoto}}" *ngIf="myPhoto">
    </ion-avatar>


    <div class="personal-name">{{ myInfo?.EmployeeName }}</div>
    <div class="personal-position">{{ myInfo?.JobTitle }}</div>
  </div>
  <div class="personal-menu">
    <ion-card routerLink='/mytasks'><img class="logo" src="assets/imgs/tasks-icon.png" [ngClass]="languageService.currentLanguageIsEnglish() ?  'float-l' : 'float-r'" />
      <span [ngClass]="languageService.currentLanguageIsEnglish() ?  'text-align-l' : 'text-align-r'">{{'app.menu.mytasks' | translate}}</span></ion-card>
    <ion-card routerLink='/choose-request-type'><img class="logo" src="assets/imgs/requests-icon.png" [ngClass]="languageService.currentLanguageIsEnglish() ?  'float-l' : 'float-r'"/>
      <span [ngClass]="languageService.currentLanguageIsEnglish() ?  'text-align-l' : 'text-align-r'">{{'app.menu.requests' | translate}}</span></ion-card>
    <ion-card routerLink='/myinformations'><img class="logo" src="assets/imgs/information-icon.png" [ngClass]="languageService.currentLanguageIsEnglish() ?  'float-l' : 'float-r'"/>
      <span [ngClass]="languageService.currentLanguageIsEnglish() ?  'text-align-l' : 'text-align-r'">{{'app.menu.myinformations' | translate}}</span></ion-card>
    <ion-card routerLink='/sign-in-out' *ngIf="service.getAllowedScreens().includes(appCon.SIGN_IN_OUT_PAGE)"><img class="logo" src="assets/imgs/attendance-icon.png" [ngClass]="languageService.currentLanguageIsEnglish() ?  'float-l' : 'float-r'"/>
        <span [ngClass]="languageService.currentLanguageIsEnglish() ?  'text-align-l' : 'text-align-r'">{{'app.menu.signInOut' | translate}}</span></ion-card>

    </div>
</ion-content>